/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

h1 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    padding-inline: 20px;
    margin-inline: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #64097f;
    text-decoration: underline;
}
